<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tambah Pegawai</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<h3>Tambah Pegawai</h3>
	<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
		Nama: <br>
		<input type="text" name="nama" />
		<br>
		Tempat Lahir: <br>
		<input type="text" name="tempatLahir" /> 	
		<br>
		Tanggal Lahir: <br>
		<input type="date" name="tanggalLahir" />
		<br>
		Tahun Masuk: <br>
		<input type="text" name="tempatLahir" /> 	
		<br>
		Provinsi: <br>
		
		<select name="location" id="location">
			<option disabled="disabled" selected="selected" > -- Pilih Provinsi --
      		</option>
			<option th:each="provinsi : ${listProvinsi}" 
					th:value="${provinsi.id}"
					th:text="${provinsi.nama}"></option>
		</select>
		<br>
		
 		Instansi: <br>
		<select
			th:value="${instansi}" 
			name="instansi"
			id="instansi" required="required">
			<option disabled="disabled" selected="selected"> -- Pilih Instansi --</option>
		</select>
		<br>
		
		<button type="submit">Submit</button>
	</form>
	
	<script>
	$('#location').change(
	        function() {
	            $.getJSON("http://localhost:8080/pegawai/tambah/instansi", {
	                provinsiId : $(this).val(),
	                ajax : 'true'
	            }, function(data) {
	                var html = '<option value="">-- Pilih Instansi --</option>';
	                var len = data.length;
	                for ( var i = 0; i < len; i++) {
	                    html += '<option value="' + data[i].nama + '">'
	                            + data[i].nama + '</option>';
	                }
	                html += '</option>';
	                $('#instansi').html(html);
	            });
	        });
	</script>
</body>	

</html>