<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
	</head>
	<body>
		<h3 th:text= "'NIP : ' + ${pegawai.nip}"></h3>
		<h3 th:text="'Nama : ' + ${pegawai.nama}"></h3>
		<h3 th:text="'Tempat Lahir : ' + ${pegawai.tempatLahir}"></h3>
		<h3 th:text="'Tanggal Lahir : ' + ${pegawai.tanggalLahir}"></h3>
		<h3 th:text="'Tahun Masuk : ' + ${pegawai.tahunMasuk}"></h3>
		<h3 th:text="'Nama Instansi : ' + ${pegawai.instansi.nama} + ' - ' + ${pegawai.instansi.provinsi.nama}"></h3>
	</body>
</html>