<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Detail Pegawai</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-15" style="margin-left:auto;margin-right:auto">
				<div class="card">
					<div class="card-header">
						<h4>Data Pegawai Termuda</h4>
					</div>
					<div class="card-body">
						<p th:text="'NIP : ' + ${pegawaiTermuda.nip}"></p>
						<p th:text="'Nama : ' + ${pegawaiTermuda.nama}"></p>
						<p th:text="'Tempat Lahir : ' + ${pegawaiTermuda.tempatLahir}"></p>
						<p th:text="'Tanggal Lahir : ' + ${pegawaiTermuda.tanggalLahir}"></p>
						<p th:text="'Tahun Masuk : ' + ${pegawaiTermuda.tahunMasuk}"></p>
						<p
							th:text="'Nama Instansi : ' + ${pegawaiTermuda.instansi.nama} + ' - ' + ${pegawaiTermuda.instansi.provinsi.nama}"></p>
						<p th:text="'Jabatan : '"></p>
						<ul th:each="jabatan : ${jabatanListTermuda}">
							<li><p th:text="${jabatan.nama}"></p></li>
						</ul>
						<p th:text="'Gaji : Rp' + ${gajiLengkapTermuda}"></p>
					</div>
				</div>
			</div>


			<div class="col-md-15" style="margin-left:auto;margin-right:auto">
				<div class="card">
					<div class="card-header">
						<h4>Data Pegawai Tertua</h4>
					</div>
					<div class="card-body">
						<p th:text="'NIP : ' + ${pegawaiTertua.nip}"></p>
						<p th:text="'Nama : ' + ${pegawaiTertua.nama}"></p>
						<p th:text="'Tempat Lahir : ' + ${pegawaiTertua.tempatLahir}"></p>
						<p th:text="'Tanggal Lahir : ' + ${pegawaiTertua.tanggalLahir}"></p>
						<p th:text="'Tahun Masuk : ' + ${pegawaiTertua.tahunMasuk}"></p>
						<p
							th:text="'Nama Instansi : ' + ${pegawaiTertua.instansi.nama} + ' - ' + ${pegawaiTertua.instansi.provinsi.nama}"></p>
						<p th:text="'Jabatan : '"></p>
						<ul th:each="jabatan : ${jabatanListTertua}">
							<li><p th:text="${jabatan.nama}"></p></li>
						</ul>
						<p th:text="'Gaji : Rp' + ${gajiLengkapTertua}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>