<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Jabatan</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 th:text="'Detail Jabatan'"></h4>
					</div>
					<div class="card-body">
						<p th:text="'Nama : ' + ${jabatan.nama}"></p>
						<p th:text="'Deskripsi : ' + ${jabatan.deskripsi}"></p>
						<p th:text="'Gaji Pokok : ' + ${jabatan.gajiPokok}"></p>
						<table>
							<tr>
								<td><form th:action="@{/jabatan/ubah}" method="GET">
										<input type="hidden" name="idJabatan" th:value="${jabatan.id}"></input>
										<button type="submit" class="btn btn-primary">Ubah</button>
									</form></td>
								<td><form th:action="@{/jabatan/hapus}"
										th:object="${jabatan}" method="POST">
										<input type="hidden" th:value="${jabatan.id}" th:field="*{id}" />
										<button type="submit" class="btn btn-primary">Hapus</button>
									</form></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>